html{
    background-color: yellow;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 650px;
    margin: auto;
    border: 10px double blue;
    background-color: white;
}

main{
    padding: 20px;
}

footer{
    border-top: 2px solid blue;
    margin: 20px;
    font-size: 90%;
    text-align: center;
    font-weight: bold;
}

h1{
    font-size: 150%;
    color: blue;
}

h2{
    font-size: 125%;
    margin-bottom: 1px;
    
}

h3{
   font-size: 115%;
}

blockquote{
    margin: 1px;
}

ul{
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 20px;
}

cite{
    color: blue;
    font-style: normal;
}

.pcite{
    text-align: right;
    margin-bottom: .75em;
}

img{
    float: left;
    margin-right: 20px;
}